.anyName {
  background-color: black;
  height: 100px;
  width: 100px;
}

.padding {
  padding: 10px;
}

.padding:hover {
  margin-left: 16px;
  transition: all ease-in-out 3s;
  transform: matrix(1, 2, -1, 1, 80, 80);
}

.rocketPos {
  position: absolute;
  bottom: 10px;
}

.flexCenter {
  display: flex;
  justify-content: center;
}
